/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
}

/* Font Declaration */

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    src: url('asset/Montserrat/Montserrat-VariableFont_wght.ttf');
}
@font-face {
    font-display: swap;
    font-family: 'Fraunces';
    src: url('asset/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}
@font-face {
    font-display: swap;
    font-family: 'Red Hat Display';
    src: url('asset/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf');
}

/* Root Declaration */

:root {
    /* Color */

    /* Primary */
    --Cyan: hsl(180, 62%, 55%);
    --lightGreen: hsl(158, 36%, 37%);
    --lightBrown: hsl(32, 89%, 75%); 
        
    /* Neutral */
    --darkBrown: hsl(212, 21%, 14%);
    --transparentWhite: hsl(0, 0%, 100%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryDarkBlue: hsl(234, 12%, 34%);

}

/* General Styling */

body {
    background-color: var(--lightBrown);
    margin: 10px 0 50px 0;
    overflow: auto;
}

/* Block && Element */

.main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
.main__card {
    background-color: var(--transparentWhite);
    border-radius: 1em;
    border: 1px double var(--grayishBlue);
    display: flex;
    flex-flow: column nowrap;
    width: min(50em, 95%);
}
.container__one__image {
    border-radius: 1em 1em 0 0;
    height: 100%;
    width: 100%;
} 
.container__two {
    padding: 1.5em 1em;
}
.section__subtitle {
    color: var(--grayishBlue);
    font: 400 0.9em 'Montserrat', 'sans-serif';
}
.section__title {
    color: var(--darkBrown);
    font-family: 'Fraunces', 'sans-serif';
    margin: 0.5em 0 0.8em 0;
    text-transform: uppercase;
    word-spacing: -3px;
}
.section__information__text {
    font-family: 'Red Hat Display', sans-serif;
    margin: 15px auto;
}
.section__information__span {
    color: var(--veryDarkBlue);
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.section__information__track {
    color: var(--lightGreen);
    float: right;
    font: 500 1.5em 'Fraunces', 'sans-serif';
}
.section__link {
    background-color: var(--Cyan);
    border-radius: 1em;
    border: none;
    margin-top: 25px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}
.section__anchor {
    color: var(--transparentWhite);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
    text-decoration: none;
}
.fa-github {
    margin-right: 0.5em;
}
.attribution {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    bottom: 0;
    font-size: 1em;
    padding: 1em 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

@media (min-width:768px) {
    body{
        margin: 0;
        overflow: hidden;
    }
    .main__container {
        display: flex;
        flex-flow: row-reverse nowrap;
    }
    .container__one__image {
        border-radius: 0 15px 15px 0;
    }
    .container__one {
        flex: 2 0 100px;
    }
    .container__two {
        flex: 2 0 100px;
        padding: 2.5em 1em;
    }
    .section__link {
        margin-top: 50px;
    }
}
/* Modifiers */

.attribution--secondary {
    color: hsl(202, 81%, 54%);
}
